html {
    cursor: url(imagens/mata_mosca.png) 30 30, auto;
}

body{
    background-image: url("imagens/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    height: 100vh;

}
.mosquito1 {
    width: 60px;
    height: 60px;
}

.mosquito2 {
    width: 90px;
    height: 90px;
}

.mosquito3 {
    width: 130px;
    height: 130px;
}

.ladoAleatorio2{
    transform: scaleX(-1);
}

.painel {
    position: absolute;
    width: 180px;
    padding: 10px;
    bottom: 0;
    left: 0;
    border-top: 1px solid #fff ;
    background-color: #fff;
    opacity: 0.7;
}

.vidas{
    float: left;
}
.cronometro{
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.pontuacao{
    background: #FFF;
    opacity: 0.7;
    width: 100px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

.gameOverLivre{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    text-align: center;
    background: black;
}

.container{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;


    justify-content: center;
    flex-direction: column;

}


@media (max-width: 320px) {
    img.img_victory{
        height: 320px;
    }

    .mosquito1{
        display: none;
    }
}

@media (min-width: 321px ) and (max-width: 480px){
    button span.game_over{
        font-size: small;
        display: flex;
    }

    img.img_victory{
        height: 400px;
    }
}

@media(min-width: 481px ) and (max-width: 767px) {
    span{
        font-size: 1.5em;
    }
    button span.game_over{
        font-size: small;
        display: flex;
    }
}
@media (min-width: 768px ) and  (max-width: 991px) {
    span{
        font-size: 1.5em;
    }
}

/*/ Extra large devices (large desktops, 1200px and up)*!*!*/
@media (min-width: 992px) {
    span{
        font-size: 1em;
    }
}

